body{
  text-align: center;
}

#container{
  margin: auto;
  width: 1500px;
  overflow: auto;
}

canvas{
  border: 1px solid #222;
  display: block;
  float: left;
  cursor: none;
}

#controls{
  width: 370px;
  float: left;
  text-align: left;
  font-size: 1.1em;
}

#controls fieldset{
  border: none;
}

#controls .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

#controls label, #controls input, #controls output{
  display: block;
}

#hints{
  list-style: none;
  padding: 0;
  color: #888;
  font-size: 1.1em;
}
