body{
  text-align: center;
}

#container{
  margin: auto;
  width: 1500px;
  overflow: auto;
}

canvas{
  border: 1px solid #333;
  display: block;
  float: left;
  cursor: none;
}

#controls{
  width: 370px;
  float: left;
  text-align: left;
}

#controls fieldset{
  border: none;
}

#controls input{
  float: right;
}

#controls output{
  /*float: right;*/
  width: 100px;
}

#hints{
  list-style: none;
  padding: 0;
  color: #888;
}

label{
  display: inline-block;
  margin-bottom: 10px;
}
