body{
  text-align: center;
}

#container{
  margin: auto;
  width: 1500px;
  overflow: auto;
}

canvas{
  border: 1px solid #222;
  display: block;
  float: left;
  cursor: none;
}

#controls{
  width: 370px;
  float: left;
  text-align: left;
  font-size: 1.1em;
}

#controls fieldset{
  border: none;
}

#controls .inputBlock{
  float: right;
}

#controls output{
  width: 100px;
}

#hints{
  list-style: none;
  padding: 0;
  color: #888;
  font-size: 1.1em;
}

label{
  display: inline-block;
  margin-bottom: 10px;
}
